.RpsResult-title {
  margin-bottom: 8px;
  float: left;
}

.RpsResult-state {
  clear: left;
}

.RpsResult-results {
  padding-inline-start: 8px;
}

.RpsResult-results-item {
  display: flex;
  margin: 4px 0;
}

.RpsResult-rps-icon {
  padding-right: 8px;
}
