.ShuffleCandidate {
  border: 1px solid #cacaca;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 8px 8px rgba(183, 193, 211, 0.5);
  min-width: 300px;
  min-height: 180px;
}

.ShuffleCandidate-title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 16px;
}

.ShuffleCandidate-candidate-name-input {
  padding: 9px 24px 9px 9px;
  border: 1px solid #cacaca;
}

.ShuffleCandidate-candidate-name-input-wrapper {
  display: inline-flex;
  position: relative;
  align-items: center;
}

.ShuffleCandidate-name-clear-button {
  position: absolute;
  background: white;
  border: none;
  right: 2px;
  padding: 8px;
}

.ShuffleCandidate-name-clear-button:hover {
  background: #cacaca;
  color: white;
}

.ShuffleCandidate-candidate-add-button {
  padding: 7px 12px;
  background: white;
  border: 1px solid #cacaca;
  cursor: pointer;
}

#ShuffleCandidate-empty-message {
  margin-top: 1rem;
}

.ShuffleCandidate-candidates {
  padding-inline-start: 8px;
}

.ShuffleCandidate-candidate-item {
  display: flex;
  margin: 12px 0;
}

.ShuffleCandidate-candidate-remove-button {
  margin-right: 16px;
  background: white;
  border: 1px solid transparent;
  cursor: pointer;
}

.ShuffleCandidate-candidate-remove-button:hover {
  color: red;
  border-color: red;
}
