.ShuffleCandidate {
  border: 1px solid #cacaca;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 8px 8px rgba(183, 193, 211, 0.5);
  min-width: 300px;
  min-height: 180px;
}

.ShuffleCandidate-header {
  border-bottom: 1px solid #cacaca;
}

.ShuffleCandidate-sub-header {
  display: flex;
}

.ShuffleCandidate-menu-wrapper {
  position: relative;
}

.ShuffleCandidate-menu {
  display: flex;
  flex-direction: column;
  width: 350px;
  position: absolute;
  right: 0;
  z-index: 1000;
  padding: 8px;
  border: 1px solid #cacaca;
  box-shadow: 0 8px 8px rgba(183, 193, 211, 0.5);
  background: white;
}

.ShuffleCandidate-menu-button {
  padding: 4px;
}

.ShuffleCandidate-menu button {
  background: white;
  padding: 4px;
  border: none;
  border-radius: 0;
}

.ShuffleCandidate-menu button:nth-child(n + 2) {
  border-top: 1px solid #cacaca;
}

.ShuffleCandidate-menu.__hide {
  display: none;
}

.ShuffleCandidate-menu button:hover {
  background: #cacaca;
  color: white;
}

.ShuffleCandidate-title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 16px;
  flex: 1;
}

.ShuffleCandidate-candidate-name-input {
  padding: 9px 24px 9px 9px;
  border: 1px solid #cacaca;
}

.ShuffleCandidate-candidate-name-input-wrapper {
  display: inline-flex;
  position: relative;
  align-items: center;
  margin-bottom: 12px;
}

.ShuffleCandidate-name-clear-button {
  position: absolute;
  border: none;
  right: 2px;
  padding: 8px;
}

.ShuffleCandidate-name-clear-button:hover {
  background: #cacaca;
  color: white;
}

.ShuffleCandidate-candidate-add-button {
  padding: 9px 12px;
  cursor: pointer;
  border-radius: 0;
}

#ShuffleCandidate-empty-message {
  margin-top: 1rem;
}

.ShuffleCandidate-candidates {
  padding-inline-start: 8px;
}

.ShuffleCandidate-candidate-item {
  display: flex;
  margin: 12px 0;
  align-items: center;
}

.ShuffleCandidate-candidate-item-name-input {
  padding: 9px 24px 9px 9px;
  border: 1px solid #cacaca;
}

.ShuffleCandidate-candidate-remove-button {
  margin-left: 8px;
  cursor: pointer;
  border: none;
}

.ShuffleCandidate-candidate-remove-button:hover {
  color: white;
  background: #ff2929;
  border-color: #ff2929;
}

.ShuffleCandidate-candidate-remove-button img {
  width: 20px;
  height: 20px;
  margin: 8px;
  max-width: none;
}

@media screen and (max-width: 350px) {
  .ShuffleCandidate-candidate-remove-button img {
    margin: 0;
  }
}
